/* scope handlers */

.projectScope {
  background-color: var(--light);
  height: 100%;
}

.projectScopeInner {
  height: 100%;
}


.scopeHandlers {
  background-color: #cfdde9;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 20px 0px 40px;
  height: 58px;
}

.scopeHandlersInner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.breadCrumps {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: var(--primary);
  }
  
  .breadCrumps p {
      margin: 0px;
  }
  
.listOfHandlers {
}

.listOfHandlers button {
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.23px;
  text-align: center;
  color: var(--primary);
  background-color: transparent;
  border: 0px;
  outline: 0px;
  padding: 10px 16px;
  cursor: pointer;
  margin-left: 30px;
}

button.submitBtn {
  border-radius: 5px;
  background-color: var(--secondary);
  color: var(--white);
}

/* Scope content */

.scopeContent {
  padding: 20px;
  height: 100%;
}

.docsListCont {
}

.docsListCont {
  padding: 30.5px 25px 30px;
  border-radius: 2px;
  border: solid 0.5px #ced4da;
  background-color: #fff;
}

.headingCont {
  margin-bottom: 30px;
}

.headingContInner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.headingTxt {
  font-size: 26px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.09px;
  color: var(--primary);
  margin: 0px 16px;
}

.docBody {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.singleDoc {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  min-width: 400px;
  border-bottom: solid 0.5px rgba(130, 154, 177, 0.5);
  padding: 4px 20px;
}

.visibilityIconCont {
  cursor: pointer;
}


.dselectedDocToViewocsListCont {
  height: 100%;
}


.viewDocCont {
  border-radius: 2px;
  border: solid 0.5px #ced4da;
  background-color: #fff;
  min-height: 600px;
  height: 100%;
}

.listItemsInner ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.listItemsInner ul li {
  border-bottom: solid 0.5px rgba(130, 154, 177, 0.5);
  padding: 16px 2px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: var(--primary);
}

.checkedIconCont {
  display: inline-block;
  width: 32px;
  height: 20px;
}

.addBtnCont button {
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.23px;
  text-align: center;
  color: var(--primary);
  background-color: transparent;
  border: 0px;
  outline: 0px;
  padding: 10px 35px;
  cursor: pointer;
  border-radius: 5px;
  color: var(--secondary);
}








@media screen and (max-width: 768px) {


  .scopeContent {
    padding: 20px 10px;
  }

  .headingTxt {
    font-size: 22px;
  }

  .singleDoc {
    width: 100%;
    min-width: 250px;
  }
}