.logoCont {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 20px;
  position: relative;
}

.clearIconCont {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  width: 40px;
  cursor: pointer;
}

.clearIconCont svg {
  fill: var(--white);
  width: 18px;
  height: 18px;
}

.leftSidebar {
  height: 100%;
  width: 240px;
  background-color: var(--primary);
}

.leftSidebarInner {
  display: grid;
  grid-template-rows:
    75px
    1fr max-content max-content;
  grid-template-columns: 1fr;
  height: 100%;
}

.firstListContInner ul,
.secondListCont ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.firstListContInner ul li,
.secondListCont ul li {
}

.firstListContInner ul li a,
.secondListCont ul li a {
  color: var(--white);
  text-decoration: none;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 12px 20px 12px 20px;
  border-left: 3px solid transparent;
  transition: background-color 300ms, border-left 300ms;
}

.firstListContInner ul li a:hover,
.secondListCont ul li a:hover {
    background-color: var(--side-menu-clicked);
    border-left: 3px solid var(--secondary);

}


.selectedListItem {
    background-color: var(--side-menu-clicked);
    border-left: 2.5px solid var(--secondary);
    font-weight: bold;
}



.textAndChevron {
  display: flex;
  justify-content: space-between;
}

.chevronCont svg {
  fill: var(--white);
  width: 20px;
  height: 20px;
}



.dueByCont {
  background-color: var(--info);
  padding: 12px 30px;
}

.dueBy {
  font-size: 12px;
  text-align: left;
  color: var(--white);
  margin-bottom: 4px;
  font-weight: bold;
}

.dueByDate {
  font-size: 32px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
}








@media screen and (max-width: 990px) {
  .leftSidebar {
    position: absolute;
  }
}