/* scope handlers */

.projectScope {
  background-color: var(--light);
  height: 100%;
}

.projectScopeInner {
  height: 100%;
  overflow: auto;
}


.profileImages {
  margin: 12px 0px;
}

.profileImageCont {
  margin: 0px 10px 0px 0px;
  width: 40px;
  height: 40px;
}

.profileImageCont img {
    width: 100%;
    height: auto;
}


.signees {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: var(--primary);
}

/* Scope content */

.scopeContent {
  padding: 30px 40px;
  height: 100%;
}

.scopeContentHeadingList {
  padding: 30.5px 25px 30px;
  border-radius: 2px;
  border: solid 0.5px #ced4da;
  background-color: #fff;
  height: 100%;
}


/* ShareScopeForReview */

.shareScopeModaleCont {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: var(--light);
  padding: 20px;
  box-sizing: border-box;
}

.shareScopeModaleContInner {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}

.logoCont {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 60px;
}

.logoCont img {
  width: 115px;
}

.headingCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dateValidity {
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--primary);
  font-size: 20px;
  margin: 10px 0px 48px 0px;
}

.dateValidity .targetName {
  font-weight: bold;
}

.modalCont {
  width: 100%;
  max-width: 1050px;
}

.headingCont .h2 h2 {
  font-size: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--primary);
  margin: 0px;
}

.docContInner {
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 12px 20px 12px 40px;
  min-height: 600px;
  border: solid 2px #ced4da;
  border-radius: 5px;
}

.btns button {
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.23px;
  text-align: center;
  color: var(--primary);
  background-color: transparent;
  border: 0px;
  outline: 0px;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 5px;
  color: var(--secondary);
}

.exitBtn {
  margin-right: 25px;
}

.acceptBtn button {
  background-color: var(--secondary);
  color: var(--white) !important;
}


@media screen and (max-width: 768px) {


  .scopeContent {
    padding: 20px;
  }


  .headingCont {
    margin-bottom: 20px;
  }


  .headingCont .h2 h2 {
    font-size: 20px;
  }

  .dateValidity {
    font-size: 14px;
  }

  .btns button {
    font-size: 14px;
    padding: 8px 12px;
  }

  .modalCont {
    margin-top: 30px;
  }
}